name: Terraform Network

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::223374428235:role/github-actions-oidc-role
          aws-region: ap-south-1

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
        working-directory: accounts/dev-account-alpha/network

      - run: terraform plan -out=tfplan
        working-directory: accounts/dev-account-alpha/network

      - run: terraform apply -auto-approve tfplan
        working-directory: accounts/dev-account-alpha/network
